* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: 'Roboto Mono', monospace;
}
.slider {
    margin-top: 20px;
}

.sketch-pad{
    flex: 0 0 auto;
    align-self: center;
    width: 600px;
    height: 600px;
    justify-self: center;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    border-radius: 5px;
}

section {
    margin-top: 30px;   
    
}

.box {
    flex: 1 1 auto;
    background-color: white;
}

.button-container {
    display: flex;
    display: flex;
    align-items: center;
}

.color-picker-container,
.fill-canvas-container {
    display: flex; 
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: lightslategray;
    width: 150px;
    padding: 20px;     
    border-radius: 5px; 
    text-align: center;
}

#box-color,
#canvas-color {
    height: 50px;
    width: 100px;
    padding: 2px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;    

}


    
button {
    padding: 10px;
    background-color: lightslategrey;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: large;
    width: 150px;   
    box-shadow: 0px 0px 5px grey;
    
}
header {
    background-color: lightslategray;
    padding: 10px;
    box-shadow: 0px 0px 5px grey;
}

.container {
    max-width: 1080px;
    margin: auto;
}
    
h1 {
    
    display: flex;
    color: white;
    justify-content: flex-start;
}

.options-panel-one,
.options-panel-two {
    flex: 1 1 0;
    text-align: center;
    display: flex;
    row-gap: 10px;
    flex-direction: column;

}

.main {
    height: 600px;
    width: auto;
    display: flex;
}

.options-panel-one > div,
.options-panel-two > div {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1em;
    
}
